.root {
  :global {
    .header_image {
      background-color: transparent;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('@/assets/image/banner/banner1.jpg');
      // background-position: 0 0, 30% 35%;
      background-repeat: repeat, repeat;
      background-size: auto, cover;
      background-attachment: scroll, scroll;
      border-bottom: 1px solid #e4ebf3;
      padding: 194px 100px;
      // height: 509px;
      padding-right: 235px;
      position: relative;
      overflow: visible;
      .hero-heading {
        color: #fff;
        text-align: right;
        font-family: Exo, sans-serif;
        font-size: 40px;
        font-style: italic;
        font-weight: 700;
        line-height: 60px;
      }
    }
  }
}
