.root {
  :global {
    height: 50px;
    line-height: 50px;
    font-family: PingFang-SC-Heavy;
    font-weight: 800;
    font-size: 24px;
    color: #035b9e;
    text-transform: uppercase;
    border-top: 4px solid #035b9e;
    border-bottom: 2px solid #035b9e;
  }
}
