.big_title {
  font-size: 38px;
  font-weight: 800;
  line-height: 44px;
  color: rgb(0, 63, 136);
  padding: 20px;
  font-family: 'Open Sans ExtraBold';
}
.taiyuanColor {
  color: rgb(0, 63, 136);
}
.content_font {
  line-height: 1.75em;
  font-size: 1.25rem;
  text-align: justify;
}
